
<section class="orderlist case-4 inner-1200">
  <div class="orderlist_prompt">
    <div class="orderlist_disinfor">
      <img src="./images/submit.png" alt="">
      <p>订单提交成功，等待平台审核！
         <span type="button" @click='watchorder' tag="span">查看订单详情</span>
        <!-- <router-link to="/companycenter/toaudited" tag="span">查看订单详情</router-link></p> -->
      <p>订单审核通过后，您可以确认订单，签署电子合同</p>
    </div>
  </div>
  <div class="orderlist">
    <template>
      <el-table :data="orderList" class="orderlistTable" border >
        <el-table-column label="订单编号" prop="orderCode" align="center">
        </el-table-column>
        <el-table-column label="产品信息" align="center">
           <template slot-scope="scope" align="center">
            <span style="margin-left: 10px">{{orderName}}</span>
          </template>
        </el-table-column>
        <el-table-column label="物流方式" align="center">
           <template slot-scope="scope">
            <span style="margin-left: 10px">{{sendwayscop}}</span>
          </template>
        </el-table-column>
        <el-table-column label="付款方式" align="center">
          <template slot-scope="scope">
            <span>{{payMethodscop}}</span>
          </template>
        </el-table-column>
        <el-table-column label="总金额(元)" prop="total" align="center">
        </el-table-column>
      </el-table>
    </template>
  </div>
</section>

