
<section class="orderlist case-4 inner-1200">
  <div class="orderlist_prompt">
    <div class="orderlist_disinfor">
      <img src="./提交订单成功_03.png" alt="">
      <p>订单提交成功，等待平台审核！
         <span type="button" @click='watchorder' tag="span">查看订单详情</span>
        <!-- <router-link to="/companycenter/toaudited" tag="span">查看订单详情</router-link></p> -->
      <p>订单审核通过后，您可以确认订单，签署电子合同</p>
    </div>
  </div>
  <div class="orderlist">
    <template>
      <el-table style="width: 100%" :data='orderList'>
        <el-table-column label="订单编号" prop="orderCode">
        </el-table-column>
        <el-table-column label="产品信息">
           <template slot-scope="scope">
            <span style="margin-left: 10px">{{orderName}}</span>
          </template>
        </el-table-column>
        <el-table-column label="物流方式">
           <template slot-scope="scope">
            <span style="margin-left: 10px">{{sendwayscop}}</span>
          </template>
        </el-table-column>
        <el-table-column label="付款方式">
          <template slot-scope="scope">
            <span style="margin-left: 10px">{{payMethodscop}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="total" label="总金额">
        </el-table-column>
      </el-table>
    </template>
  </div>
</section>

