.addstaff{
    .el-form{
        font-size: 14px;
        margin: 40px 0 0 0;
        .el-form-item{
            margin-bottom: 15px;
            .el-form-item__content{
                .label{
                    float: left;
                    width: 75px;
                    text-align: right;
                    margin-right: 5px;
                    span{
                        color: #f83d46;
                    }
                }
                .el-input{
                    float: left;
                    width: 285px;
                    margin-left: 10px;                    
                }
                .name,.num{
                    width: 120px;
                }
                .span{
                    color: #009fe2;
                    cursor: pointer;
                }

                .p-one{
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
        .preservation{
            display: inline-block;
            height: 40px;
            width: 120px;
            margin: 50px 0 0 140px;
            border-radius: 4px;
            background: #009fe2;
            color: #fff;
            font-size: 14px;
            text-align: center;
            border:none;
        }
    }
}