*{
    padding: 0;margin: 0;
}
#notice_enc{
   font-size: 12px;color: #D70028;position: absolute;margin-left: 160px;margin-top: 3px;
}
.enchashment{
    width: 100%;overflow: hidden;
}
.enc_xiu{
    width: 998px;height: 80px;position: absolute;margin-top: 313px;background: #F8F8F8;
}
.put_moy{
    width: 998px;height:457px;margin: 0 auto;margin-top: 15px;border: 1px solid #CCC;
}
.put_moy1{
    height:64px;margin-left: 30px;font-size: 16px;color: #333;line-height: 82px;
}
.put_moy11{
    float: left;overflow: hidden;
}
.put_moy12{
    float: left;font-size: 12px;margin-left: 22px;color: #999;overflow: hidden;
}
.put_moy13{
    width: 978px;border-top: 1px solid #CCC;margin-left: 9px;font-size: 14px;color: #666;position: absolute;
}
.put_moy14{
    height: 39px;line-height: 39px;border-left: 1px solid #CCC;border-right: 1px solid #CCC;border-bottom: 1px solid #CCC;
}
.put_moy15{
    width: 128px;border-right: 1px solid #CCC;float: left;position: relative;top: 0;left: 0;
}
.put_moy16{
    margin-left: 21px;
}
.put_moy17{
    margin-left: 21px;float: left;
}
.put_moy17 span{
    color: red;
}
.put_moy17 input{
    width: 100px;height: 25px;outline: none;font-size: 12px;padding-left: 5px;margin-right: 10px;border-radius: 4px;border:1px solid #DDD;
}
.put_moy18{
    position: relative;float: right;top: 0;right: 12px;color: #009FE2;text-align: right;font-size: 14px;
}
.put_moy19{
    position: absolute;line-height: 16px;margin-top: 200px;margin-left: 30px;font-size: 16px;color: #333;overflow: hidden;
}
.put_moy2{
    overflow: hidden;position: absolute;margin-top: 240px;margin-left: 29px;
}
.put_moy21{
    float: left;
}
.put_moy22{
    border: 1px solid #DDD;border-radius: 4px;width: 210px;overflow: hidden;padding-left: 8px;height: 38px;outline: none;
}
.put_moy23{
    float: left;
}
.put_moy24{
    width: 120px;height: 40px;border: 1px solid #009FE2;background: #009FE2;color: #FFF;margin-left: 9px;border-radius: 4px;font-size: 16px;cursor: pointer;
}
.put_moy25{
    width: 120px;height: 40px;border: 1px solid #009FE2;background: #009FE2;color: #FFF;margin-left: 860px;margin-top: 21px;border-radius: 4px;font-size: 16px;cursor: pointer;
}
.put_remind{
    color:#D70028;font-size: 12px;position: absolute;margin-top: 282px;margin-left: 30px;
}