<section class="mainproduct">
	<div class="mainpro">
		<div class="main">
			<!--sidebar-->
			<div class="sidebar">
				<div class="side">
					<div class="inf">
						<div class="inf-nav">
							<div>企业信息</div>
						</div>
						<ul v-for='company in cominf'>
							<li>
								<div><span class='companyName' :title='company.name' style="font-size: 18px;">{{company.name}}</span><img src="./images/certified.png" alt=""></div>
							</li>
							<li><span>公司注册地址：</span><span class='company' :title='addr'>{{addr}}</span></li>
							<li><span>注册资本：</span><span class='company common' :title='company.registeredCapital'>{{company.registeredCapital}}万元</span></li>
							<li><span>企业类型：</span><span class='company common' :title='compayjson[company.bizType]'>{{compayjson[company.bizType]}}</span></li>
						</ul>
					</div>
					<div class="inf-center">
						<p class="inf-top">产品分类</p>
						<ul>
							<li class="com_inf2" v-for="(cat,index) in comcategory" @click="cateClick(index,cat.id,cat.name)" :data="cat.id" ref='catgg' :key="index" v-if='index<8'>
								<div class="com_inf3">{{cat.name}}</div>
							</li>
						</ul>
						<div v-show="reminshow" class="sid_xiu">
							<img src="./images/non_inf.png" />
						</div>
						<div class="com_inf1"></div>
					</div>
				</div>
			</div>
			<!--sidebar结束-->
			<div class="main-right">
				<div class="com_bos8">
					<div style="height: 44px;background: #FFF;">
						<div class="com_bos84">
							筛选条件：
						</div>
						<div class="com_bos85">
							<div class="com_bos87" @click="closex()">全部结果&nbsp;></div>
							<div class="com_bos86" @click="closex()" v-show='cateshow'>&nbsp;{{name}}&nbsp;&nbsp;<span>x</span>&nbsp;</div>
						</div>
					</div>
					<div class="com_bos81">
						<div class="com_bos82">
							产品分类
						</div>
						<div class="com_bos83">
							<ul>
								<li v-for="(cat,index) in comcategory" @click="openx(cat.id,cat.name)" :data="cat.id" :data1="cat.name" ref='cat'>{{cat.name}}</li>
								<li v-show='reminshow' style="color: #333;">暂无分类</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="nav">
						<div class="com_bos3"><img src="./images/icon_2.png" alt=""></div>
						<div class="com_bos2">{{names}}</div>
					</div>
					<div class="content-one">
						<router-link v-for="(god,index) in goodinf" :key="index" :data="god.id" ref="godId" :to="{path:'productDetail',query: {id:god.id,userId:god.userId}}">
							<dl>
								<dt>
           					 <img :src='god.masterImage' alt="">
         		 		</dt>
								<dd>
									<h3>￥{{god.salePrice}}</h3>
									<p>{{god.name}}</p>
									<p>规格：{{god.spec}}</p>
									<div class="com_bos4">
										<div class="com_bos5" :title="god.producingAreaOneName+god.producingAreaTwoName+god.producingAreaThreeName">{{god.producingAreaOneName}}{{god.producingAreaTwoName}}{{god.producingAreaThreeName}}</div>
									</div>
								</dd>
							</dl>
						</router-link>
					</div>
					<div v-show='cp'>
						<div style="height: 40px;"></div>
						<div class="com_xiu" style="">
							<img src="./images/non_inf.png" />
						</div>
						<div style="height: 150px;"></div>
					</div>
				</div>
				<!-- 翻页效果 -->
				<div v-show="!cp" class="clearfix page" style="height: 60px;">
					<div class="sy-pagination">
						<el-pagination background @current-change="pageChange" prev-text="上一页" next-text="下一页" :page-size="pageSize" layout="prev,pager,next,total,jumper,slot" :total="total" :current-page="pageNo">
							<slot>
								<button class="btn-next">确定</button>
							</slot>
						</el-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>