.protocol{
    width: 100%;
}
.use_kog{
    width: 960px;margin: 0 auto;overflow: hidden;
    div{
        line-height: 26px;font-size: 24px;font-weight: bold;text-align: center;margin-top: 39px;
    }
}
.use_kog1{
    margin-top: 16px;width: 960px;margin: 0 auto;overflow: hidden;
    p{
        line-height: 24px;font-size: 12px;text-indent: 24px;overflow: hidden;
    }
    div{
        height: 44px;line-height: 44px;color: #009FE2;font-size: 14px;font-weight: 700;overflow: hidden;
    }
}
