.xq {

}
//客户资源
.customer{
    height: 70px;
    line-height: 70px;
}
.resources{
float: left;
font-size: 16px;
color: #646464;
}
.group{
    float: left;
    display: inline-block;
    font-size: 12px;
    color: #696969;
}

//道恩

.group-details{

    height: 262px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.xian{
    border-right: 1px solid #cccccc;
    height: 262px;
}

.tu{
    display: inline-block;
    padding-top: 11px;
    padding-left: 14px;
    float: left;
}
.daoen{
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    color: #3b3b3b;
    font-size: 18px;
    font-weight: normal;
}
.address{
    float: left;
    color: #3b3b3b;
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 16px;

}
.content{
    padding: 0 14px; 
    display: inline-block;
    height: 60px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-indent: 2rem;
    margin-top: 15px;
}
.cli{
    display: inline-block;
    margin-top: 25px;
    color: #2993e1;
}
.down{
    display: inline-block;
    padding-left: 15px;
    padding-right: 5px;
   
}
li{
    margin-top: 25px;
    line-height: 27px;
 
}
.icon{
    display: inline-block;
margin-left: 25px;
margin-bottom: -5px;

}
i{
    margin-left: 25px;
    font-style: normal;
}
.num{
    margin-left: 73px;
}
p{
    float: right;
    margin-right: 70px;
 margin-bottom: -70px;
 line-height: 20px;
 color: #363636;
}


//导航
.grid-content{
    height: 58px;
    background: #f5f5f7;
    border: 1px solid #f5f5f7;
}
.keyword{
text-align: center;
line-height: 60px;
color: #676769;
font-size: 14px;
  }

.search{
    line-height: 60PX;
}

.btn{
    line-height: 60px;
    
    
}
select{
    width: 80px;
    height: 35px;
    border-radius: 5px;
    text-indent: 15px;
    color: #616163;
}
.first{
    color: #6ab8e8;
}
.small-btn{
    height: 35px;
    width: 60px;
}

.customer-nav{
    margin-top: 50px;
}

.el-button {
   
padding: 0 ;
    
}
.sousuo{
    height: 37px;
    line-height: 37px;
    width: 60px;
    border: 1px solid #1a9fe2;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
//图表
//    列表
.info-list{
    margin-top: 52px;
    margin-bottom: 46px;
}
.info-list-ul{
    margin-bottom: 25px;
}
.info-list-ul .info-list-li{
    display: inline-block;
    margin-right: 20px;
    width: 170px;
    height: 292px;
    border: 1px #dddddd solid;
    border-radius:4px; 
    
}
.info-list-ul .info-list-li:last-child{
    margin-right: 0;
}

//    列表图片
.info-list-img{
    display: block;
    margin: 20px auto;
    width: 180px;
    height: 164px;
}
// 列表文字
.info-list-text{
 padding-left: 7px;
 width: 186px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 margin-bottom: 8px;
}
// 日期
.info-list-time{
    padding-left: 7px;
    font-size: 12px;
    margin-bottom: 12px;
    color: #666666;
}
.info-list-cont{
    padding-left: 7px;
    width: 186px;
    font-size: 12px;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
//翻页
.fanye{

    float: right;
}