.publish {
    font-size: 14px;
    font-family: "微软雅黑", serif;
    // 面包屑
    .bidding-bread-first {
        color: #999999;
    }
    .bidding-bread-info {
        color: #333333;
    }
    .pub_xiu {
        position: absolute;
        font-size: 12px;
        color: #F56C6C;
        margin-top: -20px;
    }
    .pub_xiu1 {
        position: absolute;
        font-size: 14px;
        color: #CCC;
        margin-left: 230px;
        margin-top: -52px;
    }
    .publish_main {
        margin-top: 32px;
        width: 960px;
        padding: 19px;
        border: 1px solid #ccc;
        position: relative;
        h3 {
            line-height: 45px;
            height: 45px;
            font-size: 18px;
            font-weight: normal;
        }
        .avatar-uploader {
            & /deep/ .el-upload {
                border: 2px dashed #aaa;
                width: 200px;
                height: 160px;
                border-radius: 4px;
                color: inherit;
            }
            & /deep/ .el-upload:hover {
                border-color: #009fe2;
                color: #009fe2;
            }
            img {
                width: 200px;
                height: 160px;
            }
            .default-img {
                width: 200px;
                height: 160px;
                background: url("./images/companylogin.jpg") center center no-repeat;
                background-size: contain;
            }
            .choose-box {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .avatar-uploader {
                position: relative;
            }
            .licesephot {
                position: absolute;
                bottom: -30px;
                color: #fa5555;
            }
            .prefix {
                position: absolute;
                color: #fa5555;
                left: 0;
                top: 0;
            }
        }
        .map {
            width: 100%;
            display: inline-block;
            .map-title {
                height: 30px;
                line-height: 30px;
                background: #009fe2;
                color: #fff;
                font-weight: bolder;
                padding: 0 10px;
            }
            .map-wrapper {
                position: relative;
                height: 300px;
            }
        }
    }
    .border_top {
        padding-top: 20px;
        border-top: 1px dashed #cdcdcd;
    }
    .toolbar {
        margin: 80px 0 40px;
    }
}

.el-form-item /deep/ .el-select {
    width: 100%;
}

.address {
    display: inline-block;
    & /deep/ .el-select {
        width: 100%;
    }
}

.chinese {
    color: #ccc;
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 250px;
}

// .ishide {
//     width: 671px;
//     height: 25px;
//     line-height: 25px;
//     text-align: left;
//     position: absolute;
//     left: 265px;
//     top: 30px;
//     font-size: 18px;
//     color: #fa5555;
// }
.ishide {
    width: 800px;
    line-height: 20px;
    text-align: justify;
    font-size: 14px;
    color: #fa5555;
    margin: -33px 0px 10px 90px;
}