<section class="technician">
  <div class="banner">
    <!-- <img :src="banner.data && banner.data.ReImg"> -->
    <img :src="banner">
  </div>
  <div class="inner-1200 tableList">
            <div class="category-box">
              <div class="box-left">应用分类</div>
              <ul class="box-right">
                <li class="item" v-for="item in classification" @click="selectFilter(1,item)">{{item}}</li>
              </ul>
            </div>
            <div class="category-box">
              <div class="box-left">技术职称</div>
              <ul class="box-right">
                <li class="item" v-for="item in technical" @click="selectFilter(2,item)">{{item}}</li>
              </ul>
            </div>
            <div class="category-box">
              <div class="box-left">筛选条件</div>
              <ul class="box-right">
                <li class="item all-item">
                  全部结果
                  <span v-show="params.classification || params.technical">&gt;</span>
                </li>
                <li class="item" v-show="params.category"  v-for='a in params.category'>
                  <el-button size="mini" @click="removeFilter(1,a)">
                    <span class="select-text">{{a}}
                      <i class="el-icon-close el-icon-right"></i>
                    </span>
                  </el-button>
                </li>
                <li class="item" v-show="params.company" v-for='b in params.company'>
                  <el-button size="mini" @click="removeFilter(2,b)">
                    <span class="select-text">{{b}}
                      <i class="el-icon-close el-icon-right"></i>
                    </span>
                  </el-button>
                </li>
              </ul>
            </div>
              <!-- 搜索框查询 -->
              <div class="search-box">
                <el-row>
                  <el-col :span="2" class="center">
                    <span class="label">关键字</span>
                  </el-col>
                  <el-col :span="4">
                    <el-input size="small" clearable @blur="goSearch" v-model="params.keyword" placeholder="输入牌号关键字搜索"></el-input>
                  </el-col>
                  <el-col :span="5" class="center"></el-col>
                  <el-col :span="10">&nbsp;</el-col>
              
                  <!-- 前后分页 -->
                  <el-col :span="3" class="BApage" style="margin-top:10px;">
                    <div class="bapage">
                      <span>{{pageNum}}/{{total/pageSize}}</span>
                      <el-button-group class="rightbtn">
                        <el-button size="small" icon="el-icon-arrow-left" class="btn-bgcolor" @click="prevPage"></el-button>
                        <el-button size="small" @click="nextPage">
                          <i class="el-icon-arrow-right el-icon--right"></i>
                        </el-button>
                      </el-button-group>
                    </div>
                  </el-col>
                </el-row>
              </div>
            <router-link to="/consultationIndex" tag="div" class="expert">
              <!-- <div class="expert"> -->
              <el-row>
                <el-col :span="6" v-for="(item,index ) in expert" :key="index" class="margin10">
                  <div class="expert-title">
                    <img class="expert-title-img" :src="item.expertImg">
                    <div class="expert-title-uname clearfix">
                      <div class="expert-title-uname-left">
                        {{item.name}}
                      </div>
                      <div class="expert-title-uname-right">
                        <img class="expert-img1" src="./grade_logo.png">
                      </div>
                    </div>
            
                  </div>
                  <div class="expert-introduce">{{item.introduce}}</div>
                  <div class="expert-descrtion">{{item.descrtion}}</div>
                  <p class="expert-pd">
                    <span class="expert-price">收费:{{item.price1}}元/次</span>
                    <span class="expert-time">{{item.price2}}元/分钟</span>
                  </p>
                  <div class="sub">
                    <router-link to="/technicianConsultation" tag="span">
                      <el-button type="primary" class="sub-info tel">电话咨询</el-button>
                    </router-link>
                    <router-link to="/technicianConInter" tag="span">
                      <el-button plain class="sub-info inter">网上咨询</el-button>
                    </router-link>
                  </div>
                </el-col>
              </el-row>
            
              <!-- </div> -->
            </router-link>
            <router-link to="/consultationIndex" tag="div" class="expert">
            <!-- <div class="expert"> -->
              <el-row>
                <el-col :span="6" v-for="(item,index ) in expert" :key="index" class="margin10">
                  <div class="expert-title">
                    <img class="expert-title-img" :src="item.expertImg">
                    <div class="expert-title-uname clearfix">
                      <div class="expert-title-uname-left">
                        {{item.name}}
                      </div>
                      <div class="expert-title-uname-right">
                        <img class="expert-img1" src="./grade_logo.png">
                      </div>
                    </div>
            
                  </div>
                  <div class="expert-introduce">{{item.introduce}}</div>
                  <div class="expert-descrtion">{{item.descrtion}}</div>
                  <p class="expert-pd">
                    <span class="expert-price">收费:{{item.price1}}元/次</span>
                    <span class="expert-time">{{item.price2}}元/分钟</span>
                  </p>
                  <div class="sub">
                    <router-link to="/technicianConsultation" tag="span">
                      <el-button type="primary" class="sub-info tel">电话咨询</el-button>
                    </router-link>
                    <router-link to="/technicianConInter" tag="span">
                      <el-button plain class="sub-info inter">网上咨询</el-button>
                    </router-link>
                  </div>
                </el-col>
              </el-row>
            
            <!-- </div> -->
            </router-link>
            <router-link to="/consultationIndex" tag="div" class="expert">
              <!-- <div class="expert"> -->
              <el-row>
                <el-col :span="6" v-for="(item,index ) in expert" :key="index" class="margin10">
                  <div class="expert-title">
                    <img class="expert-title-img" :src="item.expertImg">
                    <div class="expert-title-uname clearfix">
                      <div class="expert-title-uname-left">
                        {{item.name}}
                      </div>
                      <div class="expert-title-uname-right">
                        <img class="expert-img1" src="./grade_logo.png">
                      </div>
                    </div>
            
                  </div>
                  <div class="expert-introduce">{{item.introduce}}</div>
                  <div class="expert-descrtion">{{item.descrtion}}</div>
                  <p class="expert-pd">
                    <span class="expert-price">收费:{{item.price1}}元/次</span>
                    <span class="expert-time">{{item.price2}}元/分钟</span>
                  </p>
                  <div class="sub">
                    <router-link to="/technicianConsultation" tag="span">
                      <el-button type="primary" class="sub-info tel">电话咨询</el-button>
                    </router-link>
                    <router-link to="/technicianConInter" tag="span">
                      <el-button plain class="sub-info inter">网上咨询</el-button>
                    </router-link>
                  </div>
                </el-col>
              </el-row>
            
              <!-- </div> -->
            </router-link>
                </el-col>
              </el-row>
            
           

            <!-- 分页   @current-change="" -->
            <div class="pagebox clearfix">
            
              <div style="height: 30px;"></div>
              <!-- 翻页效果 -->
              <div class="sy-pagination">
                <el-pagination background @current-change="pageChange" prev-text="上一页" next-text="下一页" :page-size="pageSize" layout="prev,pager,next,total,jumper,slot"
                  :total="total" :current-page="pageNum">
                  <slot>
                    <button class="btn-next">确定</button>
                  </slot>
                </el-pagination>
              </div>
            </div> 
          </div>
  </div>
</section>