.clearfixed:after{
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}
.customer-detail{
    //客户资源
    .customer{
      margin: 26px 0 27px 0;

    }
    
    .company{
        color: #636363;
        font-size: 12px;
    }
  

    //道恩
    
    .group-details{
        height: 262px;
        border: 1px solid #e4e9ea;
        border-radius: 10px;
        box-shadow: 3px 3px 5px 2px #e4e9ea;
        border-bottom: none;
        border-right: none;
    }
    .xian{
        border-right: 1px solid #cccccc;
        height: 262px;
    }
    .xian-wrap{
        padding:12px 17px 12px 12px;
    }
    .tu{
        display: inline-block;
        float: left;
        width: 120px;
        height: 120px;
        img{
            width: 100%;
            height: 90%;
        }
    }
    .sale{
        display: block;
        float: left;
        color:#808080;
        font-size: 12px;
        margin-top: 15px;
        margin-left: 11px;
    }
    .daoen{
        float: left;
        width: 235px;
        margin-left: 10px;
        margin-top: 15px;
        color: #3b3b3b;
        font-size: 18px;
        font-weight: normal;
    }
    .address{
        float: left;
        color: #3b3b3b;
        font-size: 14px;
        font-weight: normal;
        margin-left: 10px;
        margin-top: 20px;
    }
    .content{
        display: inline-block;
        height: 100px;
        width: 100%;
        overflow: hidden;
        font-size: 14px;
        line-height: 25px;
        color: #333333;
        text-indent: 2rem;
        margin-top: 10px;
    }
    .cli{
        display: inline-block;
        margin-top: 25px;
        color: #2993e1;
        cursor: pointer;
    }
    .down{
        display: inline-block;
        padding-left: 15px;
        padding-right: 5px;
       
    }
    li{
        margin-top: 25px;
        line-height: 27px;
    }
    .bg-purple-dark-li{
        margin-top: 22px!important;

    }
    .icon{
        display: inline-block;
        margin-left: 25px;
        margin-bottom: -5px;
    
    }
    i{
        font-size: 14px;
        margin-left: 11px;
        font-style: normal;
    }
    .num{
        float: left;
        margin-top: 3px;
        margin-left: 63px;
    }
    .manger{
        float: left;
        font-size: 14px;
        margin-left: 11px;
        margin-bottom: -70px;
        line-height: 20px;
        color: #363636;
    
    }
    
    
    //导航
    .grid-content{
        display: inline-block;
        padding:0 13px;
        border: 1px solid #f5f5f7;
    }
    .grid-content-input{
        width: 174px;
    }
    .keyword{
        line-height: 60px;
        color: #666;
        font-size: 14px;
      }
    
    .search{
        line-height: 60PX;
    }
    .grid-content-num{
        display: inline-block;
    }
    .btn{
        text-align: right;
        line-height: 60px;
    }
    select{
        width: 80px;
        height: 35px;
        border-radius: 5px;
        text-indent: 15px;
        color: #616163;
    }
    .first{
        color: #6ab8e8;
    }
    .small-btn{
        height: 35px;
        width: 60px;
    }
    
    .customer-nav{
        margin-top: 55px;
        background: #f5f5f7;
    }
    
    .el-button {
        padding: 0 ;
    }
    .search-wrap{
        display: inline-block;
        position: relative;
        .sousuo{
            position: absolute;
            bottom:-13px;
            height: 35px;
            width: 60px;
            font-size: 16px;
            margin-left: -4px;
            border: 1px solid #1a9fe2;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
        }
    }
    
    
    //    列表
    .info-list-ul{
        margin-bottom: 10px;
    }
    .info-list-ul .info-list-li{
        float: left;
        width: 230px;
        height: 311px;
        margin-right: 10px;
        border: 1px #dddddd solid;
        
    }
    .info-list-ul:nth-child(5n) li{
        margin-right: 0px!important;
    }
    .info-list-li{
        margin-top: 11px;
        margin-right: 10px;

    }
    
    //    列表图片
    .info-list-img{
        display: block;
        margin: 12px auto;
        width:206px;
        height: 178px;
    }
    //列表money
    .info-list-mony{
        color: #1a9fe2;
        font-size: 18px;
        margin-left: 10px;
        height: 16px;
    }
    // 列表文字
    .info-list-describe{
        width: 215px;
        height: 40px;
        margin:14px 0 8px 0;
        font-size: 12px;
        cursor: pointer;
        line-height: 20px;
        padding-left: 10px;
        overflow: hidden;  /** 隐藏超出的内容 **/
        
    }
    //地址
    .info-list-addres{
        float: left;
        font-size: 12px;
        margin-left: 10px;
        width: 140px;
        color:#666;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .info-list-weight{
        float: right;
        font-size: 12px;
        margin-right: 12px;
    }
   .customer-nav .grid-content-page{
        text-align: right;
        display: inline-block;
        padding: 0 10px 0 13px;
        font-size: 14px;
        border: 1px solid #f5f5f7;
   }
//分页
.pagebox{
    width: 100%;
    height: 30px;
    background: #fff;
    margin: 36px 12px 83px 0;
  }
  .sy-pagination {
    float: right;
    .btn-prev,
    .btn-next {
      padding: 0 13px !important;
    }
    .el-pager .number,
    .el-pager .more {
      padding: 0 11px !important;
      border: 1px solid #e6e6e6 !important;
      background-color: #fff !important;
    }
    .el-pager .more{
      border-color: #fff !important;
    }
  
    .el-pager li.active {
      background-color: #fff !important;
      color: #009FE2 !important;
      border-color: #fff !important;
    }
  }
}