.auction{
	.el-table tr:nth-child(even) {
	    background-color: #f4f4f4;
	}
	.autotro_list .cell{
		position: relative;
		.el-button--small{
			width: 91px;
	    	height: 30px;
	    	background: #009EF2!important;
	    	color:#fff!important;
		}
		.categoryName .el-button:hover{
			color:#fff!important;
			background: #009FE2!important;
		}
		.el-button+.el-button{
			margin-left: 0px;
		}
	}
	.autotro_list .el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover{
		background-color:#a0cfff!important;
	}
	.auction-box .el-button:focus, .el-button:hover{
		background: #FFF;
		color: #009FE2;
	}
} 
