.cus_a {
    text-decoration: none;
}

.dyicon {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-top: 13.5px;
    background: url('./images/dy_icon1.png');
}

.dyicon1 {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-top: 13.5px;
    background: url('./images/dy_icon2.png');
}

.cus_xiu {
    width: 198px;
    height: 198px;
    margin-top: 22px;
    margin-left: 24px;
}

.cus_xiu img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cus_xiu1 {
    width: 198px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #333;
    margin-top: 10px;
    margin-left: 24px;
}

.cus_xiu2 {
    width: 198px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #333;
    margin-top: 5px;
    margin-left: 24px;
}

.cus_xiu3 {
    width: 190px;
    height: 230px;
    margin-left: 27px;
    margin-top: 20px;
    img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.cus_res {
    width: 100%;
    height: 446px;
    background: url('./images/bgbanner.jpg') no-repeat center top;
}

.cus_res1 {
    margin: 0 auto;
    width: 1200px;
}

.cus_res11 {
    width: 248px;
    height: 444px;
    margin-top: 0;
    margin-left: 712px;
    background: #FFF;
    float: left;
    opacity: 0.9;
}

.cus_res12 {
    width: 228px;
    height: 45px;
    margin-left: 10px;
    border-bottom: 1px solid #009FE2;
}

.cus_res13 {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    margin-top: 12px;
    float: left;
}

.cus_res13 img {
    width: 100%;
    height: 100%;
}

.cus_res14 {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #333;
    margin-left: 9px;
    float: left;
}

.cus_res15 {
    height: 14px;
    line-height: 14px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    color: #009FE2;
}

.cus_res16 {
    margin-top: 22px;
    overflow: hidden;
}

.cus_res17 {
    float: left;
    width: 44px;
    height: 44px;
    margin-left: 28px;
}

.cus_res17 img {
    width: 100%;
    height: 100%;
}

.cus_res18 {
    float: left;
    width: 44px;
    height: 44px;
    margin-left: 30px;
}

.cus_res18 img {
    width: 100%;
    height: 100%;
}

.cus_res19 {
    margin-top: 16px;
    font-size: 14px;
    margin-left: 13px;
    line-height: 14px;
    overflow: hidden;
}

.cus_res19 ul li {
    float: left;
    width: 74px;
    text-align: center;
}

.cus_res2 {
    width: 212px;
    margin-left: 18px;
    height: 27px;
    border-bottom: 1px dashed #DFE5EE;
}

.cus_res21 {
    height: 14px;
    line-height: 14px;
    margin-top: 27px;
    margin-left: 20px;
    font-size: 14px;
    color: #009FE2;
}

.cus_res22 {
    width: 192px;
    height: 38px;
    margin-top: 34px;
    margin-left: 28px;
    font-size: 18px;
    padding: 0;
    background: #009FE2;
}

.cus_res22 {
    background: #009FE2;
    color: #FFF;
    border: 1px solid #009FE2;
}

.cus_res23 {
    width: 100%;
    overflow: hidden;
}

.cus_res24 {
    width: 1200px;
    margin: 0 auto;
}

.customer-cus {
    #cus1 {
        margin-top: 26px;
    }
}

.cus_res25 {
    float: left;
    width: 940px;
}

.cus_res25 a {
    text-decoration: none;
}

.cus_res26 {
    width: 940px;
    height: 44px;
    background: url('./images/bg_1.gif');
    overflow: hidden;
}

.cus_res27 {
    width: 20px;
    height: 17px;
    margin-top: 14px;
    margin-left: 12px;
    float: left;
}

.cus_res27 img {
    width: 100%;
    height: 100%;
}

.cus_res28 {
    float: right;
    color: #333;
    margin-top: 26px;
}

.cus_res29 {
    float: left;
    margin-left: 12px;
    line-height: 44px;
    font-size: 18px;
    color: #FFF;
}

.cus_res3 {
    float: right;
    margin-right: 12px;
    font-size: 14px;
    line-height: 44px;
    color: #FFF;
}

.cus_res3 div {
    color: #FFF;
    cursor: pointer;
}

.cus_res31 {
    width: 222px;
    height: 180px;
    margin-left: 3px;
}

.cus_res31 img {
    width: 100%;
    height: 100%;
}

.cus_res32 {
    margin-top: 20px;
    font-size: 18px;
    color: #009FE2;
    margin-left: 13px;
    height: 18px;
    line-height: 18px;
}

.cus_res33 {
    margin-left: 14px;
    margin-top: 10px;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    color: #333;
    width: 204px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cus_res34 {
    margin-left: 14px;
    margin-top: 4px;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #333;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cus_res35 {
    margin-left: 14px;
    margin-top: 22px;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
}

.cus_res36 {
    float: left;
    width: 88px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

.cus_res37 {
    float: left;
    width: 121px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #009FE2;
    text-align: right;
}

.cus_res38 {
    width: 118px;
    height: 54px;
    margin-left: 12px;
    border-bottom: 2px solid #009FE2;
}

.cus_res39 {
    width: 26px;
    height: 54px;
    float: left;
}

.cus_res4 {
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    margin-left: 12px;
    float: left;
}

.cus_res41 {
    width: 214px;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px dashed #DFE5EE;
    font-size: 14px;
    margin-left: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    cursor: pointer;
}

.cus_res41:hover {
    color: #AAA;
}

.cus_res41 a {
    text-decoration: none;
}

.cus_res41 a:hover {
    color: red;
}

.cus_res42 {
    width: 246px;
    border: 1px solid #DDD;
    a {
        text-decoration: none;
    }
}

.cus_res43 {
    width: 240px;
    height: 444px;
    float: left;
    background: #FFF;
    overflow: hidden;
    opacity: 0.9;
    color: #FFF;
}

.cus_res43 li {
    height: 40.5px;
    line-height: 40.5px;
    padding-left: 13px;
    width: 227px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #EEF1F5;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    span {
        position: absolute;
        right: 10px;
    }
    li:last-child {
        border-bottom: none;
    }
}

.cus_res45 {
    position: absolute;
    width: 160px;
    height: 444px;
    margin-left: 241px;
    background: #FFF;
    display: none;
    opacity: 0.9;
}

.cus_res45 li {
    height: 40.5px;
    line-height: 40.5px;
    margin-left: 8px;
    width: 144px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #EEF1F5;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    li:last-child {
        border-bottom: none;
    }
    span {
        position: absolute;
        right: 10px;
    }
}

.cus_res45 ul li:hover {
    color: #009FE2;
}

.cus_res46 {
    height: 2px;
    margin-top: -1px;
    position: relative;
    z-index: 1;
    width: 100%;
    background: #FFF;
}

.cus_res47 {
    position: absolute;
    left: 10px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cus_res48 {}

.el-row {
    margin-top: 0px;
    margin-bottom: 7px;
    &:last-child {}
}

.el-col {
    border-radius: 0px;
}

.grid-content {
    height: 310px;
}

.grid-content:hover {
    box-shadow: 2px 2px 3px #9e9494;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}

.customer-cus .customer-product {
    margin-top: 20px
}

.customer-cus .cus-product-list {
    padding-bottom: 17px;
    .ishaveinf {
        //      height: 200px;
        //      background: rgb(250, 250, 249);
        //      font-size: 18px;
        //      color:#333;
        //      text-align: center;
        //      line-height: 200px;
        width: 190px;
        height: 230px;
        margin-left: 375px;
        margin-top: 20px;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}