.mybill {
    .mybill-search{
        padding: 20px 0;
    }
    .mybill-table{
        text-align: centerï¼›
    }
    .el-table thead{
        align: center;
        background: #E5E6E6;
    }
    .el-table  {
       text-align: center;
    }
    table{
        align: center;
    }
    .mybill-fenye{
        float: right;
        padding: 10px;
    }
    .dingdan{
        color: #009fe2;
        cursor: pointer;
    }
}