
<section class="consultation-index inner-1200">
    <div class="breadcrumb">
      <el-breadcrumb separator=">" class="breadcrumb-item">
        <el-breadcrumb-item :to="{ path: '/technician' }" class="technician1">技术专家</el-breadcrumb-item>
        <el-breadcrumb-item class="technician2">冯**</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="consultationUser">
      <el-row v-for="(item,index) in consultationUser" :key="index">
        <el-col :span="3">
          <div class="consultationUser_left">
            <img :src="item.expertImg" alt="">
            <p>{{item.name}}</p>
          </div>
        </el-col>
        <el-col :span="18">
          <div class="consultationUser_right">
            <span>{{item.introduce}}</span>
            <p>{{item.descrtion}}</p>
            <span class="spend">收费：
              <span>{{item.price1}}元/次</span>
              <span>{{item.price2}}元/分钟</span>
            </span>
          </div>
        </el-col>
        <el-col :span="3">
          <div class="sub">
            <router-link to="/technicianConsultation" tag="span">
              <el-button type="primary" class="sub-info">电话咨询</el-button>
            </router-link>
            <router-link to="/technicianConInter" tag="span">
              <el-button plain class="sub-info">网上咨询</el-button>
            </router-link>
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="proble_list">
      <p><span>他的回答</span>(全部问题：42)</p>
        <template>
          <el-table :data="problemList" style="width: 100%">
            <el-table-column prop="name" label="用户" width="180px">
            </el-table-column>
            <el-table-column prop="questions" label="咨询问题" >
            </el-table-column>
            <el-table-column prop="time" label="数量（吨）" width="280px">
            </el-table-column>
          </el-table>
        </template>
    </div>
    <!-- 分页   @current-change="" -->
    <div class="pagebox clearfix">
    
      <div style="height: 30px;"></div>
      <!-- 翻页效果 -->
      <div class="sy-pagination">
        <el-pagination background @current-change="pageChange" prev-text="上一页" next-text="下一页" :page-size="pageSize" layout="prev,pager,next,total,jumper,slot"
          :total="total" :current-page="pageNum">
          <slot>
            <button class="btn-next">确定</button>
          </slot>
        </el-pagination>
      </div>
    </div>
</section>

