<section class="mystaff">
    <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/companycenter/mystaff' }">企业中心</el-breadcrumb-item>
        <el-breadcrumb-item>员工管理</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="mybill-search clearfix">
        <el-input :maxlength="10" class="myorder_input" v-model.trim="value" placeholder="请输入员工姓名">
        </el-input>
        <el-button class="myorder_btn" type="primary" @click="likeSearch" icon="el-icon-search"></el-button>
        <router-link to="/companycenter/addstaff" class="but myorder_release">添加员工</router-link>
    </div>
    <div class="mybill-table">
        <el-table class="table-one" :data="mystafftable" border style="width: 100%">
            <el-table-column prop="userName" label="员工姓名">
            </el-table-column>
            <el-table-column prop="position" label="职位">
            </el-table-column>
            <el-table-column prop="mobileNo" label="手机号码">
            </el-table-column>
            <el-table-column prop="email" label="邮箱">
            </el-table-column>
            <el-table-column prop="active" label="状态">
                <template slot-scope="scope">
          <el-switch v-model="scope.row.active" @change="active(scope.row)" active-text="启用" active-color="#009fe2" inactive-color="#e3e3e3">
          </el-switch>
        </template>
            </el-table-column>
            <el-table-column prop="admin" label="企业联系人">
                <template slot-scope="scope">
          <el-switch v-model="scope.row.admin" @change="active(scope.row)" active-text="启用" active-color="#009fe2" inactive-color="#e3e3e3">
          </el-switch>
        </template>
            </el-table-column>
            <el-table-column prop="contacts" label="操作">
                <template slot-scope="scope">
          <span class="btn1" @click="editBtn(scope.row)">编辑</span>
          <span class="btn2" @click="delete_btn(scope.row,scope.$index,mystafftable)">删除</span>
          <el-dialog
              title="提示"
              :visible.sync="dialogVisible"
              width="30%"
              :before-close="handleClose">
              <span >您是否确定删除该员工信息</span>
              <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="confirmbtn">确 定</el-button>
              </span>
            </el-dialog>
        </template>
            </el-table-column>
        </el-table>

        <div class="pagebox clearfix" v-show="havedata">
            <div style="height: 30px;"></div>
            <!-- 翻页效果 -->
            <div class="sy-pagination">
                <el-pagination background @current-change="pageChange" prev-text="上一页" next-text="下一页" :page-size="pageSize" layout="prev,pager,next,total,jumper,slot" :total="total" :current-page="pageNum">
                    <slot>
                        <button class="btn-next">确定</button>
                    </slot>
                </el-pagination>
            </div>
        </div>
    </div>
    </div>
</section>