<section class="forgetpwd-2">
  <div class="fg_pwd_bg"></div>
  <div class="reset-box">
    <el-card class="box-card">
      <div class="in-box">
        <h3>重置密码</h3>
        <ul class="reset-process">
          <li>
            <dl>
              <dt>
                <img src="../images/people.png" alt="">
              </dt>
              <dd class="active">输入账号</dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>
                <img src="../images/success-identity.png" alt="">
              </dt>
              <dd class="active">验证身份</dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>
                <img src="../images/fail-pwd.png" alt="">
              </dt>
              <dd>重置密码</dd>
            </dl>
          </li>
          <li style="margin-right: 0;">
            <dl>
              <dt>
                <img src="../images/fail-reset.png" alt="">
              </dt>
              <dd>重置成功</dd>
            </dl>
          </li>
          <span class="blue-line">
            <img src="../images/blue-line.png" alt="">
          </span>
          <span class="greay-line1">
            <img src="../images/blue-line.png" alt="">
          </span>
          <span class="greay-line2">
            <img src="../images/greay-line.png" alt="">
          </span>
        </ul>

        <div>
          <p class="fl">
            <input name="phone" placeholder="请输入您的手机号" @blur ="phoneq" v-model="phone" class="for_bs" />
            <div class="s3" v-show="phones">{{phonea}}</div>
          </p>
          <p class="fl">
            <div>
              <div class="fg_pwd3">
                <input type="text" v-model="verif" @blur = "verifq" placeholder="验证码" class="for_bs1" />
                <div class="s3" v-show="verifs">{{verifa}}</div>
              </div>
              <div class="fg_pwd3">
                <button type="button" ref="btn" @click="sendcode" :disabled="disabled" v-show="isshow"  id="fg" class="fg_pwd2 btns">{{btntxt}}</button>
                <button type="button" ref="btn" @click="sendcode" :disabled="disabled" v-show="disabled"  id="fg" class="fg_pwd22 btns">{{btntxt}}</button>
              </div>
            </div>
          </p>
        </div>
        <input type="submit" @click="login_btn" name="" value="下一步" class="btn-color public-css fg_pwd5">
      </div>
      <div style="height: 123px;"></div>
    </el-card>
  </div>
  <div style="height: 72px;"></div>
</section>