.footer {
  width: 100%;
  background: #f4f4f4;
  height: 155px;
  overflow: hidden;
  div{
      width: 1200px;
      margin: 0 auto;
      margin-top: 55px;
      font-size: 12px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      color: #666;
      cursor: pointer;
  }
}
