*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.sid_xiu{
    width: 114px;height: 138px;margin: 0 auto;margin-top: 20px;margin-bottom: 40px;
    img{
        width: 100%;height: 100%;
    }
}
.com_inf{
    width: 58px;height: 19px;display: none;
}
.com_inf img{
    width: 100%;height: 100%;overflow: hidden;
}
.com_inf1{
    height: 3px;background: #FFF;margin-top: -1px;
}
.sidebar{
    float: left;
        width: 215px;
        .companyName{
            font-size: 18px;
            width: 120px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .side{
        width: 215px;
        .inf{
            height: 230px;
            background: #FFF;
            .inf-nav{
                font-size: 14px;
                font-weight: bold;
                height: 40px;
                line-height: 40px;
                
                background: #FBFBFA;
                div{
                    margin-left: 13px;

                }
            }
            ul{
                margin: 14px 0 0 12px;
                li{
                    height: 30px;
                    div{
                        float: left;
                    }
                    .companyName{
                        font-size: 14px;
                        width: 121px;
                        float: left;
                        padding-right: 12px;
                    }
                    .company{
                        width: 90px;
                    }
                    span{
                        cursor: pointer;
                        display: inline-block;
                        white-space: nowrap;  
                        text-overflow:ellipsis; 
                        overflow:hidden;
                    }
                    .common{
                        width: 110px;
                    }
                }
                li:first-child{
                    margin-bottom:15px;
                }
            }
        }
        .inf-center{
            background: #FFF; 
            :hover{
                cursor: pointer;
            }
            margin-top: 27px;
            .inf-top{
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                font-weight: bold;
                padding-left: 12px; 
                background: #FBFBFA;
            }
            ul{
                background: #FFF;
                li{
                    line-height: 49px;
                    width: 215px;
                    div{
                       margin-left: 14px;
                       border-bottom: 1px dashed #dfe5ee;
                       width: 187px;
                       overflow: hidden;
                       white-space: nowrap;
                       text-overflow: ellipsis;
                       color: #333;
                    }
                }
                li:hover{
                    background: #EAE8E6;
                }
                
            }
        }
        .inf-bot{
            margin-top: 20px;
            border: 1px solid #f2f2f2;
            height: 320px;
            .inf-nav{
                font-weight: bold;
                line-height: 40px;
                background: #f2f2f2;
                padding-left: 12px;
            }
            ul{
                margin: 18px 0 8px 12px;
                li{
                    line-height: 27px;
                    white-space: nowrap;  
                    text-overflow:ellipsis; 
                    overflow:hidden;
                    img{
                        padding-right: 10px;
                    }
                }
            }
            .Btm_position{
                width: 182px;
                height: 145px;
                margin-left: 12px;
            }
        }
    }
}
